In [3]:
import os
import pandas as pd
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns


pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

In [19]:
sfe = pd.read_csv("../DataSets/fossil_fuel_operations/country_solid-fuel-transformation_emissions.csv")
ffe = pd.read_csv("../DataSets/fossil_fuel_operations/country_other-fossil-fuel-operations_emissions.csv")
ong_re = pd.read_csv("../DataSets/fossil_fuel_operations/country_oil-and-gas-refining_emissions.csv")
ong_pte = pd.read_csv("../DataSets/fossil_fuel_operations/country_oil-and-gas-production-and-transport_emissions.csv")
cme = pd.read_csv("../DataSets/fossil_fuel_operations/country_coal-mining_emissions.csv")

In [1]:
cme.head(1)

NameError: name 'cme' is not defined

In [4]:
cme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13780 entries, 0 to 13779
Data columns (total 21 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   13780 non-null  int64
 1   iso3_country               13780 non-null  object
 2   original_inventory_sector  13780 non-null  object
 3   start_time                 13780 non-null  object
 4   end_time                   13780 non-null  object
 5   temporal_granularity       13780 non-null  object
 6   lat_lon                    0 non-null      float64
 7   gas                        13780 non-null  object
 8   emissions_quantity         13780 non-null  float64
 9   emissions_factor           13780 non-null  float64
 10  emissions_factor_units     13750 non-null  object
 11  capacity                   5950 non-null   float64
 12  capacity_units             13780 non-null  object
 13  capacity_factor            5950 non-null   float64
 14  activity                   13780 non-null  float64
 15  activity_units             13780 non-null  object
 16  created_date               13780 non-null  object
 17  modified_date              5 non-null      object
 18  asset_name                 13780 non-null  object
 19  asset_type                 13780 non-null  object
 20  st_astext                  13780 non-null  object
dtypes: float64(6), int64(1), object(14)
memory usage: 2.2+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 10 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8750 non-null   object
 1   start_time                 8750 non-null   object
 2   end_time                   8750 non-null   object
 3   original_inventory_sector  8750 non-null   object
 4   gas                        8750 non-null   object
 5   emissions_quantity         8750 non-null   float64
 6   emissions_quantity_units   8750 non-null   object
 7   temporal_granularity       8750 non-null   object
 8   created_date               8750 non-null   object
 9   modified_date              4708 non-null   object
dtypes: float64(1), object(9)
memory usage: 683.7+ KB

In [5]:
# coal_df = coal_df.drop(['start_time', 'end_time', 'temporal_granularity', 'created_date', 'modified_date','lat_lon'], axis=1)
cme = cme.drop(['start_time', 'end_time', 'temporal_granularity','created_date', 'modified_date'],axis=1)

In [6]:
cme.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13780 entries, 0 to 13779
Data columns (total 15 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   asset_id                   13780 non-null  int64
 1   iso3_country               13780 non-null  object
 2   original_inventory_sector  13780 non-null  object
 3   gas                        13780 non-null  object
 4   emissions_quantity         13780 non-null  float64
 5   emissions_factor           13780 non-null  float64
 6   emissions_factor_units     13750 non-null  object
 7   capacity                   5950 non-null   float64
 8   capacity_units             13780 non-null  object
 9   capacity_factor            5950 non-null   float64
 10  activity                   13780 non-null  float64
 11  activity_units             13780 non-null  object
 12  asset_name                 13780 non-null  object
 13  asset_type                 13780 non-null  object
 14  st_astext                  13780 non-null  object
dtypes: float64(5), int64(1), object(9)
memory usage: 1.6+ MB
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8750 entries, 0 to 8749
Data columns (total 5 columns):
 #   Column                     Non-Null Count  Dtype
---  ------                     --------------  -----
 0   iso3_country               8750 non-null   object
 1   original_inventory_sector  8750 non-null   object
 2   gas                        8750 non-null   object
 3   emissions_quantity         8750 non-null   float64
 4   emissions_quantity_units   8750 non-null   object
dtypes: float64(1), object(4)
memory usage: 341.9+ KB

In [7]:
# Group the data by original_inventory_sector, asset_name, asset_type, st_astext, asset_id, and gas
coal_grouped = coal_df.groupby(['iso3_country','original_inventory_sector', 'asset_name', 'asset_type', 'st_astext', 'asset_id', 'gas']).sum()

In [8]:
coal_grouped.iloc[15:25]

                                                                                                                                             emissions_quantity  \
iso3_country original_inventory_sector asset_name               asset_type    st_astext                                asset_id  gas
AFG          coal-mining               Tala Wa Barfak Coal Mine Subbituminous POINT(68.12 35.33194)                    136115875 ch4                     482.00
                                                                                                                                 co2                       0.00
                                                                                                                                 co2e_100yr            14375.52
                                                                                                                                 co2e_20yr             39798.00
                                                                                                                                 n2o                       0.00
ALB          coal-mining               Valius Coal Mine         Lignite       POINT(19.7364263942232 41.3915182401782) 136115876 ch4                     482.00
                                                                                                                                 co2                       0.00
                                                                                                                                 co2e_100yr            14375.52
                                                                                                                                 co2e_20yr             39798.00
                                                                                                                                 n2o                       0.00

                                                                                                                                             emissions_factor  \
iso3_country original_inventory_sector asset_name               asset_type    st_astext                                asset_id  gas
AFG          coal-mining               Tala Wa Barfak Coal Mine Subbituminous POINT(68.12 35.33194)                    136115875 ch4                   4824.0
                                                                                                                                 co2                      0.0
                                                                                                                                 co2e_100yr               0.0
                                                                                                                                 co2e_20yr                0.0
                                                                                                                                 n2o                      0.0
ALB          coal-mining               Valius Coal Mine         Lignite       POINT(19.7364263942232 41.3915182401782) 136115876 ch4                   4824.0
                                                                                                                                 co2                      0.0
                                                                                                                                 co2e_100yr               0.0
                                                                                                                                 co2e_20yr                0.0
                                                                                                                                 n2o                      0.0

                                                                                                                                             capacity  \
iso3_country original_inventory_sector asset_name               asset_type    st_astext                                asset_id  gas
AFG          coal-mining               Tala Wa Barfak Coal Mine Subbituminous POINT(68.12 35.33194)                    136115875 ch4              0.0
                                                                                                                                 co2              0.0
                                                                                                                                 co2e_100yr       0.0
                                                                                                                                 co2e_20yr        0.0
                                                                                                                                 n2o              0.0
ALB          coal-mining               Valius Coal Mine         Lignite       POINT(19.7364263942232 41.3915182401782) 136115876 ch4              0.0
                                                                                                                                 co2              0.0
                                                                                                                                 co2e_100yr       0.0
                                                                                                                                 co2e_20yr        0.0
                                                                                                                                 n2o              0.0

                                                                                                                                             capacity_factor  \
iso3_country original_inventory_sector asset_name               asset_type    st_astext                                asset_id  gas
AFG          coal-mining               Tala Wa Barfak Coal Mine Subbituminous POINT(68.12 35.33194)                    136115875 ch4                     0.0
                                                                                                                                 co2                     0.0
                                                                                                                                 co2e_100yr              0.0
                                                                                                                                 co2e_20yr               0.0
                                                                                                                                 n2o                     0.0
ALB          coal-mining               Valius Coal Mine         Lignite       POINT(19.7364263942232 41.3915182401782) 136115876 ch4                     0.0
                                                                                                                                 co2                     0.0
                                                                                                                                 co2e_100yr              0.0
                                                                                                                                 co2e_20yr               0.0
                                                                                                                                 n2o                     0.0

                                                                                                                                             activity
iso3_country original_inventory_sector asset_name               asset_type    st_astext                                asset_id  gas
AFG          coal-mining               Tala Wa Barfak Coal Mine Subbituminous POINT(68.12 35.33194)                    136115875 ch4              0.1
                                                                                                                                 co2              0.1
                                                                                                                                 co2e_100yr       0.1
                                                                                                                                 co2e_20yr        0.1
                                                                                                                                 n2o              0.1
ALB          coal-mining               Valius Coal Mine         Lignite       POINT(19.7364263942232 41.3915182401782) 136115876 ch4              0.1
                                                                                                                                 co2              0.1
                                                                                                                                 co2e_100yr       0.1
                                                                                                                                 co2e_20yr        0.1
                                                                                                                                 n2o              0.1

In [2]:
# Emission Factor = emission per tonns of coal produced 
# emissions_per_ton_country = coal_grouped.groupby('iso3_country')['emissions_factor'].sum()
# emissions_per_ton_country.sort_values(ascending=False)
# total_emissions = coal_grouped.groupby('iso3_country')['emissions_quantity'].sum()
# total_emissions.sort_values(ascending=False)

iso3_country
CHN    17569678.0
USA     3577954.1
IND      905692.6
RUS      772456.4
AUS      473757.0
UKR      330819.2
POL      277621.2
ZAF      261246.4
IDN      184739.1
TUR      135125.6
VNM      128485.9
KOR      103340.8
PRK       94764.8
KAZ       80259.3
UZB       42933.6
GBR       40829.8
MNG       40803.0
BIH       33768.0
CAN       32964.0
IRN       29962.4
AFG       29158.4
TJK       26746.4
SWZ       25835.2
NZL       23215.5
CZE       23074.8
ZWE       22920.7
MWI       19510.4
COL       15376.5
EGY       14686.4
ESP       14686.4
GEO       14686.4
NOR       14686.4
ETH       14686.4
BGD       14686.4
DEU       13567.5
SVK       12113.6
SRB       11256.0
MEX        9112.0
BWA        8576.0
NGA        8093.6
MOZ        7839.0
PER        7611.2
BGR        6633.0
ROU        6432.0
BRA        5929.5
HUN        5929.5
PHL        5628.0
ZMB        5628.0
ARG        4824.0
TZA        4824.0
SVN        4824.0
THA        4824.0
JPN        4824.0
MYS        4824.0
ALB        4824.0
KHM        4824.0
KGZ        4020.0
VEN        3517.5
MMR        3216.0
BTN        2412.0
NPL        2251.2
GRC        1608.0
MKD        1608.0
PAK         804.0
NER         804.0
XKX         804.0
LAO         804.0
MNE         804.0
Name: emissions_factor, dtype: float64

iso3_country
CHN    3.587680e+09
USA    3.279506e+08
RUS    2.587443e+08
AUS    2.229885e+08
IND    1.250179e+08
ZAF    1.161419e+08
IDN    8.555635e+07
POL    7.742928e+07
PRK    4.936401e+07
KAZ    4.398885e+07
UKR    4.291089e+07
VNM    2.702380e+07
DEU    2.288689e+07
COL    2.237636e+07
CAN    1.542094e+07
CZE    1.336223e+07
TUR    1.191869e+07
MNG    7.852564e+06
THA    7.761141e+06
SRB    6.048589e+06
KOR    3.512555e+06
BGR    3.355759e+06
MOZ    3.355077e+06
BIH    3.345543e+06
MEX    3.048586e+06
ZWE    2.394673e+06
AFG    2.370365e+06
ROU    1.940284e+06
SVN    1.694333e+06
PHL    1.303249e+06
LAO    1.302633e+06
GRC    1.257086e+06
BGD    1.252969e+06
UZB    1.183785e+06
BWA    1.179353e+06
GBR    1.134308e+06
MYS    8.744943e+05
ETH    8.319844e+05
XKX    7.378545e+05
BRA    7.139426e+05
HUN    6.891772e+05
MKD    6.831990e+05
SVK    6.487045e+05
TJK    6.057692e+05
IRN    5.880610e+05
NZL    5.594370e+05
MWI    4.639680e+05
JPN    3.825916e+05
PAK    3.461540e+05
ESP    3.327935e+05
SWZ    2.927133e+05
TZA    2.186241e+05
KGZ    2.144696e+05
NOR    1.497574e+05
ZMB    1.430170e+05
MNE    1.366398e+05
PER    9.313368e+04
MMR    8.672132e+04
GEO    8.319814e+04
VEN    7.970705e+04
ALB    5.465552e+04
KHM    3.279311e+04
ARG    2.732776e+04
NGA    2.087828e+04
EGY    1.996740e+04
NER    1.821884e+04
BTN    1.001981e+04
NPL    2.551100e+03
Name: emissions_quantity, dtype: float64

In [11]:
cme.head(5)

,iso3_country,original_inventory_sector,gas,emissions_quantity,emissions_quantity_units
0,ABW,coal-mining,ch4,0.0,tonnes
1,DZA,coal-mining,co2,0.0,tonnes
2,DZA,coal-mining,co2e_100yr,0.0,tonnes
3,DZA,coal-mining,co2e_20yr,0.0,tonnes
4,DZA,coal-mining,co2,0.0,tonnes

In [12]:
cme_grouped = cmef.groupby(['iso3_country','original_inventory_sector','gas']).sum()

In [13]:
cme_grouped.head(5)

                                                   emissions_quantity
iso3_country original_inventory_sector gas
ABW          coal-mining               ch4                        0.0
                                       co2                        0.0
                                       co2e_100yr                 0.0
                                       co2e_20yr                  0.0
                                       n2o                        0.0

In [14]:
total_country_emissions = coal_country_grouped.groupby('iso3_country')['emissions_quantity'].sum()

In [15]:
total_country_emissions.sort_values(ascending=False)

iso3_country
CHN    1.502374e+10
USA    3.608584e+09
IND    3.429979e+09
IDN    2.503810e+09
RUS    1.587801e+09
AUS    1.551670e+09
ZAF    1.195232e+09
DEU    7.105316e+08
KAZ    5.386279e+08
POL    5.192104e+08
TUR    3.935835e+08
COL    3.545588e+08
ROU    2.422034e+08
VNM    2.033066e+08
SRB    1.881612e+08
CZE    1.859588e+08
UKR    1.708445e+08
CAN    1.437172e+08
BGR    1.382617e+08
GRC    1.368729e+08
PRK    1.004726e+08
THA    7.166426e+07
LAO    6.409156e+07
BIH    6.090314e+07
PHL    5.702759e+07
MKD    5.584972e+07
MNG    4.179522e+07
SVN    3.735868e+07
XKX    3.678767e+07
HUN    3.626188e+07
MEX    3.301777e+07
BRA    2.939261e+07
MOZ    2.911843e+07
IRN    2.027477e+07
PAK    1.781957e+07
UZB    1.642769e+07
SVK    1.594108e+07
GBR    1.571417e+07
ZWE    1.492145e+07
NZL    1.471393e+07
MYS    1.305949e+07
CHL    1.220694e+07
KGZ    1.024038e+07
BWA    1.022948e+07
AFG    9.135976e+06
TJK    8.739826e+06
MNE    7.455467e+06
KOR    6.221070e+06
JPN    6.185556e+06
MMR    4.942671e+06
BGD    4.495629e+06
VGB    3.950000e+06
ZMB    2.691218e+06
TZA    2.637965e+06
VEN    2.574467e+06
ESP    2.398470e+06
NOR    1.783766e+06
NGA    1.312128e+06
PER    1.151129e+06
NER    1.070145e+06
BTN    7.565443e+05
GEO    7.524857e+05
SWZ    6.732568e+05
ALB    2.551690e+05
MWI    2.366437e+05
ARG    1.638366e+05
ETH    8.073603e+04
TUV    5.338600e+04
COD    2.365285e+04
KHM    2.890000e+02
EGY    1.760000e+02
NPL    2.300000e+01
MLT    0.000000e+00
PNG    0.000000e+00
NAM    0.000000e+00
PLW    0.000000e+00
NCL    0.000000e+00
PCN    0.000000e+00
PAN    0.000000e+00
MLI    0.000000e+00
MUS    0.000000e+00
MTQ    0.000000e+00
MRT    0.000000e+00
MSR    0.000000e+00
NFK    0.000000e+00
NIC    0.000000e+00
OMN    0.000000e+00
NIU    0.000000e+00
MYT    0.000000e+00
NRU    0.000000e+00
MNP    0.000000e+00
NLD    0.000000e+00
SLB    0.000000e+00
PRI    0.000000e+00
PRT    0.000000e+00
SYR    0.000000e+00
TCA    0.000000e+00
TCD    0.000000e+00
TGO    0.000000e+00
TKL    0.000000e+00
TKM    0.000000e+00
TLS    0.000000e+00
TON    0.000000e+00
TTO    0.000000e+00
TUN    0.000000e+00
TWN    0.000000e+00
UGA    0.000000e+00
UMI    0.000000e+00
URY    0.000000e+00
VAT    0.000000e+00
VCT    0.000000e+00
VIR    0.000000e+00
VUT    0.000000e+00
WLF    0.000000e+00
WSM    0.000000e+00
YEM    0.000000e+00
SYC    0.000000e+00
SXM    0.000000e+00
SWE    0.000000e+00
SGP    0.000000e+00
PRY    0.000000e+00
PSE    0.000000e+00
PYF    0.000000e+00
QAT    0.000000e+00
REU    0.000000e+00
RWA    0.000000e+00
SAU    0.000000e+00
SDN    0.000000e+00
SEN    0.000000e+00
SGS    0.000000e+00
SUR    0.000000e+00
SHN    0.000000e+00
SJM    0.000000e+00
SLE    0.000000e+00
SLV    0.000000e+00
SMR    0.000000e+00
SOM    0.000000e+00
SPM    0.000000e+00
SSD    0.000000e+00
STP    0.000000e+00
MHL    0.000000e+00
ABW    0.000000e+00
MDV    0.000000e+00
CUW    0.000000e+00
CAF    0.000000e+00
CCK    0.000000e+00
CHE    0.000000e+00
CIV    0.000000e+00
CMR    0.000000e+00
COG    0.000000e+00
COK    0.000000e+00
COM    0.000000e+00
CPV    0.000000e+00
CRI    0.000000e+00
CUB    0.000000e+00
CXR    0.000000e+00
MDG    0.000000e+00
CYM    0.000000e+00
CYP    0.000000e+00
DJI    0.000000e+00
DMA    0.000000e+00
DNK    0.000000e+00
DOM    0.000000e+00
DZA    0.000000e+00
ECU    0.000000e+00
ERI    0.000000e+00
ESH    0.000000e+00
EST    0.000000e+00
BVT    0.000000e+00
BRN    0.000000e+00
BRB    0.000000e+00
BOL    0.000000e+00
AGO    0.000000e+00
AIA    0.000000e+00
ALA    0.000000e+00
AND    0.000000e+00
ARE    0.000000e+00
ARM    0.000000e+00
ASM    0.000000e+00
ATA    0.000000e+00
ATF    0.000000e+00
ATG    0.000000e+00
AUT    0.000000e+00
AZE    0.000000e+00
BDI    0.000000e+00
BEL    0.000000e+00
BEN    0.000000e+00
BES    0.000000e+00
BFA    0.000000e+00
BHR    0.000000e+00
BHS    0.000000e+00
BLM    0.000000e+00
BLR    0.000000e+00
BLZ    0.000000e+00
BMU    0.000000e+00
FIN    0.000000e+00
FJI    0.000000e+00
FLK    0.000000e+00
IRQ    0.000000e+00
ISR    0.000000e+00
ITA    0.000000e+00
JAM    0.000000e+00
JEY    0.000000e+00
JOR    0.000000e+00
KEN    0.000000e+00
KIR    0.000000e+00
KNA    0.000000e+00
KWT    0.000000e+00
LBR    0.000000e+00
LBY    0.000000e+00
LCA    0.000000e+00
LIE    0.000000e+00
LKA    0.000000e+00
LSO    0.000000e+00
LTU    0.000000e+00
LUX    0.000000e+00
LVA    0.000000e+00
MAC    0.000000e+00
MAF    0.000000e+00
MAR    0.000000e+00
MCO    0.000000e+00
MDA    0.000000e+00
ISL    0.000000e+00
IRL    0.000000e+00
FRA    0.000000e+00
IOT    0.000000e+00
FRO    0.000000e+00
FSM    0.000000e+00
GAB    0.000000e+00
GGY    0.000000e+00
GHA    0.000000e+00
GIB    0.000000e+00
GIN    0.000000e+00
GLP    0.000000e+00
GMB    0.000000e+00
GNB    0.000000e+00
GNQ    0.000000e+00
GRD    0.000000e+00
GRL    0.000000e+00
GTM    0.000000e+00
GUF    0.000000e+00
GUM    0.000000e+00
GUY    0.000000e+00
HKG    0.000000e+00
HMD    0.000000e+00
HND    0.000000e+00
HRV    0.000000e+00
HTI    0.000000e+00
IMN    0.000000e+00
LBN    0.000000e+00
Name: emissions_quantity, dtype: float64